<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <table style="border:1px solid #038; width: 1500px; position: static; z-index: auto; ">
      <!--<table style="border-collapse: collapse; border-style: solid; border-color: rgb(153, 153, 153); border-width: 1px 0 0 1px; width: 1000px; position: static; z-index: auto; ">-->
      <thead>
        <tr style="background-color: #038; color: #FFF;">
          <th style="width: 185px;">客户单位</th>
          <th style="width: 55px;">客户</th>
          <th style="width: 185px;">工厂/市场</th>
          <th style="width: 80px;">转入时间</th>
          <th style="width: 300px;">初始情况</th>
          <th style="width: 100px;">个案描述</th>
          <th>末次联系进展</th>
          <th style="width: 80px;">末次联系时间</th>
          <th style="width: 30px;">成案率</th>
        </tr>
      </thead>
      <tbody>
        <% @inquire_array.each_with_index do |inquire, o_index| %>
        <% if inquire.customer %>
        <% if inquire.customer.is_obsolete == 1 %>
        <tr style="border:solid #999;border-width:0 1px 1px 0;">
          <% if o_index % 2 == 0 %>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.customer_unit_name %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.name %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.class.name == "MInquire" ? "市场需求" : "工厂转" %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.created_at.strftime("%Y-%m-%d") %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.detail %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" colspan="4">非目标客户</td>
          <% else %>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.customer_unit_name %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.name %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.class.name == "MInquire" ? "市场需求" : "工厂转" %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.created_at.strftime("%Y-%m-%d") %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.detail %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" colspan="4">非目标客户</td>
          <% end %>
        </tr>
        <% else %>
        <% salecases = inquire.customer.salecases %>
        <% salecases.each_with_index do |salecase, index| %>
        <% last_salelog = salecase.salelogs.sort_by { |p| p.contact_at }[-1] %>
        <tr style="border:solid #999;border-width:0 1px 1px 0;">
          <% if o_index % 2 == 0 %>
          <% if index == 0 %>
          <% salecase_size = salecases.size %>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.customer.customer_unit.blank? ? "请查数据，id：#{inquire.id}" : "#{inquire.customer.customer_unit.name}" %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.customer.name %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.class.name == "MInquire" ? "市场需求" : "工厂转" %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.created_at.strftime("%Y-%m-%d") %></td>
          <% end %>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.detail %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= salecase.comment %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= raw strip_links(last_salelog['natural_language']) %><%= last_salelog['comment'].blank? ? "" : last_salelog['comment'] %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= last_salelog.blank? ? "有问题" : last_salelog['contact_at'].strftime("%Y-%m-%d") %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= salecase['feasible'] %></td>
          <% else %>
          <% if index == 0 %>
          <% salecase_size = salecases.size %>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.customer.customer_unit.blank? ? "请查数据，id：#{inquire.id}" : "#{inquire.customer.customer_unit.name}" %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.customer.name %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.class.name == "MInquire" ? "市场需求" : "工厂转" %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" rowspan=<%= salecase_size %>><%= inquire.created_at.strftime("%Y-%m-%d") %></td>
          <% end %>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.detail %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= salecase.comment %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= raw strip_links(last_salelog['natural_language']) %><%= last_salelog['comment'].blank? ? "" : last_salelog['comment'] %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= last_salelog.blank? ? "有问题" : last_salelog['contact_at'].strftime("%Y-%m-%d") %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= salecase['feasible'] %></td>
          <% end %>
        </tr>
        <% end %>
        <% end %>
        <% else %>
        <tr style="border:solid #999;border-width:0 1px 1px 0;">
          <% if o_index % 2 == 0 %>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.customer_unit_name %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.name %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.class.name == "MInquire" ? "市场需求" : "工厂转" %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.created_at.strftime("%Y-%m-%d") %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.detail %></td>
          <td style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" colspan="4">未处理</td>
          <% else %>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.customer_unit_name %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.name %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.class.name == "MInquire" ? "市场需求" : "工厂转" %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.created_at.strftime("%Y-%m-%d") %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;"><%= inquire.detail %></td>
          <td style="background-color: #DDD; border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;font-size:12px;" colspan="4">未处理</td>
          <% end %>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </body>
</html>