<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>

<h3>已报价未合同个案</h3>
<table style="border:1px solid #038; position: static; z-index: auto; ">
  <thead>
  <tr style="background-color: #038; color: #FFF;">
    <!--<th style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;width:90px;">销售</th>-->
    <th style="width: 100px;">个案号</th>
    <th style="width: 200px;">个案描述</th>
    <th style="width: 150px;">签订合同日期</th>
    <th style="width: 300px;">客户单位</th>
    <th style="width: 200px;">客户</th>
  </tr>
  </thead>
  <tbody>
  <% @unsigned_salecases.each do |salecase| %>
          <tr>
            <td><%= salecase.number %></td>
            <td><%= salecase.comment %></td>
            <td><%= salecase.end_at.to_s %></td>
            <td><%= salecase.customer_units.map(&:name).join("、") %></td>
            <td><%= salecase.customers.map(&:name).join("、") %></td>
          </tr>
      <% end %>
  </tbody>
</table>

<h3>已报价已预签合同个案</h3>
<table style="border:1px solid #038; position: static; z-index: auto; ">
  <thead>
  <tr style="background-color: #038; color: #FFF;">
    <!--<th style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;width:90px;">销售</th>-->
    <th style="width: 100px;">个案号</th>
    <th style="width: 200px;">个案描述</th>
    <th style="width: 150px;">签订合同日期</th>
    <th style="width: 300px;">客户单位</th>
    <th style="width: 200px;">客户</th>
  </tr>
  </thead>
  <tbody>
  <% @pre_signed_salecases.each do |salecase| %>
          <tr>
            <td><%= salecase.number %></td>
            <td><%= salecase.comment %></td>
            <td><%= salecase.end_at.to_s %></td>
            <td><%= salecase.customer_units.map(&:name).join("、") %></td>
            <td><%= salecase.customers.map(&:name).join("、") %></td>
          </tr>
      <% end %>
  </tbody>
</table>

<h3>含未下单产品的合同</h3>
<table style="border:1px solid #038; position: static; z-index: auto; ">
  <thead>
  <tr style="background-color: #038; color: #FFF;">
    <!--<th style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;width:90px;">销售</th>-->
    <th style="width: 100px;">合同号</th>
    <th style="width: 200px;">合同描述</th>
    <th style="width: 100px;">发货状态</th>
    <th style="width: 300px;">客户单位</th>
    <th style="width: 200px;">客户</th>
  </tr>
  </thead>
  <tbody>
  <% @contracts.each do |contract| %>
      <% contract_items = contract.contract_items %>
      <% contract_items.each do |contract_item| %>
          <tr>
            <td><%= contract_item.contract.number %></td>
            <td><%= contract_item.contract.summary %></td>
            <td><%= Dictionary.where("data_type = 'send_status' and value = ?", contract_item.send_status).first.display %></td>
            <td><%= contract_item.contract.customer_unit.name %></td>
            <td><%= contract_item.contract.end_user.name %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

</body>
</html>