<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table style="border:1px solid #038; width: 1000px; position: static; z-index: auto; ">
      <!--<table style="border-collapse: collapse; border-style: solid; border-color: rgb(153, 153, 153); border-width: 1px 0 0 1px; width: 1000px; position: static; z-index: auto; ">-->
      <thead>
        <tr style="background-color: #038; color: #FFF;">
          <!--<th style="border:solid #999;border-width:0 1px 1px 0;padding:2px 4px;width:90px;">销售</th>-->
          <th>客户单位</th>
          <th>客户</th>
          <th>报价号</th>
          <th>报价描述</th>
          <th>币种</th>
          <th>金额</th>
          <th>折合RMB</th>
          <th>报价日期</th>
          <th>成案率</th>
        </tr>
      </thead>
      <tbody>
        <% @quotes.each do |quote| %>
        <tr>
          <td><%= quote.customer_unit.name %></td>
          <td><%= quote.customer.name %></td>
          <td><%= quote.number %></td>
          <td><%= quote.summary %></td>
          <td><%= quote.currency.name %></td>
          <td><%= "%.2f" % quote.total.to_f %></td>
          <td><%= "%.2f" % quote.rmb.to_f %></td>
          <td><%= quote.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= quote.quotable.class.name == "Salelog" ? quote.quotable.salecase.feasible : "-" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>