<div style="display:inline-block;">
  <input type="radio" name="<%= name[:code] %><>" value="0" id="<%= name[:code] %>_0"><label for="<%= name[:code] %>_0">不限</label>
</div>
<% options.each_with_index do |option, index| %>
    <div style="display:inline-block;">
      <input type="radio" name="<%= name[:code] %><>" value="<%= index + 1 %>" id="<%= name[:code] %>_<%= index + 1 %>"><label for="<%= name[:code] %>_<%= index + 1 %>"><%= option[:cn] %></label>
    </div>
<% end %>