<div class="row">
  <ul class="example-orbit-content" data-orbit id="featured1" data-options="animation_speed:500;animation:fade;timer_speed:1500;resume_on_mouseout:true;">
    <li data-orbit-slide="headline-1">
      <img src="<%= asset_path("site/banner_20140826_1.jpg") %>" alt="slide 1"/>

      <div class="orbit-caption">
        第一张图
      </div>
    </li>
    <li data-orbit-slide="headline-2">
      <a href="http://www.163.com"><img src="<%= asset_path("site/banner_20140826_2.jpg") %>" alt="slide 2"/></a>

      <div class="orbit-caption">
        这是第二张图
      </div>
    </li>
    <li data-orbit-slide="headline-3">
      <img src="<%= asset_path("site/banner_20140826_3.jpg") %>" alt="slide 3"/>

      <div class="orbit-caption">
        第三张图
      </div>
    </li>
  </ul>
</div>

<div class="row" data-equalizer>

  <div class="large-5 medium-8 columns ETSC-main-panel" data-equalizer-watch>
    <h3>◆　产品中心</h3>
    <ul class="button-group round radius tabs" data-tab role="tablist">
      <li class="tab-title active" role="presentational">
        <a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">按产品</a></li>
      <li class="tab-title" role="presentational">
        <a href="#panel2-2" role="tab" tabindex="0" aria-selected="false" controls="panel2-2">按应用</a></li>
    </ul>
    <div class="tabs-content">
      <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
        <ul class="ETSC-tree-ul">
          <li><a href="#">激光及光谱</a>
            <ul>
              <li><a href="#">激光</a></li>
              <li><a href="#">太阳能激光器</a></li>
              <li><a href="#">激光测量</a></li>
            </ul>
          </li>
          <li><a href="#">微加工</a>
            <ul>
              <li><a href="#">IPGM</a></li>
            </ul>
          </li>
        </ul></section>
      <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
        <ul class="ETSC-tree-ul">
          <li><a href="#">航空</a>
            <ul>
              <li><a href="#">气体检测</a></li>
            </ul>
          </li>
          <li><a href="#">工业</a>
            <ul>
              <li><a href="#">IPGM</a></li>
            </ul>
          </li>
        </ul></section>
    </div>
  </div>
  <div class="large-7 medium-8 columns ETSC-main-panel" data-equalizer-watch>
    <h3>◆　解决方案</h3>

    <div class="row ETSC-solution">
      <div class="large-8 medium-8 small-8 column">
        <a href="#"><img src="http://placehold.it/100x100"/></a>
      </div>
      <div class="large-16 medium-16 small-16 column">
        <h4>解决方案一</h4>

        <p>
          <a href="#">說對機文大旅這知原，人不方長畫一，電有己充多……二成連過不代角，我信由比養制了筆其！維以醫器甚：有車教道麼觀男，管了供國主個就何由結信中景下為他能而備而。進生是話的，情和工放。</a>
        </p>
      </div>
    </div>
    <div class="row ETSC-solution">
      <div class="large-8 medium-8 small-8 column">
        <a href="#"><img src="http://placehold.it/100x100"/></a>
      </div>
      <div class="large-16 medium-16 small-16 column">
        <h4>解决方案一</h4>

        <p>
          <a href="#">說對機文大旅這知原，人不方長畫一，電有己充多……二成連過不代角，我信由比養制了筆其！維以醫器甚：有車教道麼觀男，管了供國主個就何由結信中景下為他能而備而。進生是話的，情和工放。</a>
        </p>
      </div>
    </div>
  </div>
  <div class="large-8 medium-8 columns ETSC-main-panel" data-equalizer-watch>
    <h3>◆　新闻中心</h3>
    <ul class="ETSC-flat-ul">
      <li><a href="#"><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
      <li><a href="#"><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
      <li><a href="#"><span>[行业新闻]</span>2013东隆夏季激光器、功率计促销大酬宾</a></li>
      <li><a href="#">微加工</a></li>
    </ul>
  </div>
  <div class="large-4 columns ETSC-main-panel" data-equalizer-watch>
    <h3>◆　代理厂家</h3>
    <ul class="example-orbit-content" data-orbit id="vendor_unit" data-options="animation_speed:500;timer_speed:4000;pause_on_hover:false;slide_number: false;navigation_arrows: false;">
      <li data-orbit-slide="headline-1">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-1">
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
        </ul>
      </li>
      <li data-orbit-slide="headline-2">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-1">
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
        </ul>
      </li>
      <li data-orbit-slide="headline-3">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-1">
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
          <li class="th"><a href="#"><img src="<%= asset_path("site/lj_6.jpg") %>"/></a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="main">
<div class="pic f_l main_one">
  <h2><b class="ico"></b>
    产品中心
  </h2>

  <div class="pic_list border">
    <div class="pic_list_one">
      <h3><b class="ico_one"></b>
        激光及光谱
      </h3>
      <ul>
        <li>
          <a href="javascript:" title="">激光</a>
        </li>
        <li>
          <a href="javascript:" title="">太阳能激光器</a>
        </li>
        <li>
          <a href="javascript:" title="">激光测量</a>
        </li>
      </ul>
    </div>
    <div class="pic_list_one">
      <h3>
        <b class="ico_one"></b>
        光通讯
      </h3>
      <ul>
        <li>
          <a href="javascript:" title="">原材料销售</a>
        </li>
        <li>
          <a href="javascript:" title="">装备及测试，老化夹具</a>
        </li>
      </ul>
    </div>
    <div class="pic_list_one">
      <h3>
        <b class="ico_one"></b>
        微加工
      </h3>
      <ul>
        <li>
          <a href="javascript:" title="">IPGM</a>
        </li>
        <li>
          <a href="javascript:" title="">郭琛小组项目</a>
        </li>
        <li>
          <a href="javascript:" title="">Passat代理激光器</a>
        </li>
      </ul>
    </div>
    <div class="pic_list_one">
      <h3>
        <b class="ico_one"></b>
        光纤传感
      </h3>
      <ul>
        <li>
          <a href="javascript:" title="">光纤传感</a>
        </li>
        <li>
          <a href="javascript:" title="">光纤气体传感</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="field f_l main_one">
  <h2>
    <b class="ico"></b>
    应用领域
  </h2>

  <div class="field_one border">
    <dl>
      <dt class="field_img f_l">
        <a href="javascript:" title="">
          <img src="images/pic_1.jpg" alt=""/>
        </a>
      </dt>
      <dd class="f_l">
        <h3>教学领域</h3>

        <p>
          <a href="javascript:" title="">教学领域仪器主要应用于大学基础学科实验室，专业学科....</a>
        </p>
      </dd>
      <div style="clear:both"></div>
    </dl>
    <dl>
      <dt class="field_img f_l">
        <a href="javascript:" title="">
          <img src="images/pic_2.jpg" alt=""/>
        </a>
      </dt>
      <dd class="f_l">
        <h3>工业领域</h3>

        <p>
          <a href="javascript:" title="">科艺是国内最大的工业激光系统设备元器件供应商。我们.....</a>
        </p>
      </dd>
      <div style="clear:both"></div>
    </dl>
    <dl>
      <dt class="field_img f_l">
        <a href="javascript:" title="">
          <img src="images/pic_3.jpg" alt=""/>
        </a>
      </dt>
      <dd class="f_l">
        <h3>科研领域</h3>

        <p>
          <a href="javascript:" title="">科艺能为科研客户提供90%光学科学实验设备及元件....</a>
        </p>
      </dd>
      <div style="clear:both"></div>
    </dl>
  </div>
</div>
<div class="news f_l main_one">
  <h2>
    <b class="ico"></b>
    新闻中心
  </h2>

  <div class="news_one border">
    <ul>
      <li>
        <a href="javascript:" title="">
          <span>[行业新闻]</span>
          2013东隆夏季激光器、功率计促销大酬宾
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[展会新闻]</span>
          第八届全国激光技术与光电子学学术会议
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[公司新闻]</span>
          大功率激光光束分析对焊接工艺研究...
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[行业新闻]</span>
          2013东隆夏季激光器、功率计促销大酬宾
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[展会新闻]</span>
          第八届全国激光技术与光电子学学术会议
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[公司新闻]</span>
          大功率激光光束分析对焊接工艺研究...
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[行业新闻]</span>
          2013东隆夏季激光器、功率计促销大酬宾
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[展会新闻]</span>
          第八届全国激光技术与光电子学学术会议
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[公司新闻]</span>
          大功率激光光束分析对焊接工艺研究...
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[行业新闻]</span>
          2013东隆夏季激光器、功率计促销大酬宾
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[展会新闻]</span>
          第八届全国激光技术与光电子学学术会议
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <span>[公司新闻]</span>
          大功率激光光束分析对焊接工艺研究...
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="agent f_l main_one">
  <h2>
    <b class="ico"></b>
    代理厂家
  </h2>

  <div class="agent_one border">
    <ul>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_4.jpg" alt=""/>
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_5.jpg" alt=""/>
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_6.jpg" alt=""/>
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_7.jpg" alt=""/>
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_4.jpg" alt=""/>
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_5.jpg" alt=""/>
        </a>
      </li>
      <li>
        <a href="javascript:" title="">
          <img src="images/pic_6.jpg" alt=""/>
        </a>
      </li>
    </ul>
  </div>
</div>
</div>
<div class="product" id=demo1 style="overflow:hidden; width:1002px;" align=center>
  <table border=0 align=center cellpadding=1 cellspacing=1 cellspace=0>
    <tr>
      <td valign=top id=marquePic3>
        <table width="900px" border='0' cellspacing='0'>
          <tr>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
            <td class="pro_one" align=center>
              <div class="pro_list">
                <a href="javascript:" title="">
                  <img src="images/pic_8.jpg" width="140px" height="115px"/>
                </a>
              </div>
              <p>
                <a href="javascript:" title="">半导体激光器驱动器</a>
              </p>
            </td>
          </tr>
          <div style="clear:both"></div>
        </table>
      </td>
      <td class="link_one" id="marquePic4" valign="top"></td>
    </tr>
  </table>
</div>


