
<div class="content_body">
  <div class="content_side">
    <div id="news" class="frame">
      <h2>新闻中心</h2>
      <ul>
        <li><span>新闻中心首页</span></li>
        <li><%= link_to "公司新闻", :action => "show_company_news", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "产品新闻", :action => "show_product_news", :id => nil, :format =>"htm" %></li>
      </ul>
    </div>
  </div>
  <div class="total_text" id="not_product">
    <div class="content_text">
      <div id="first_news">
        <% if @newest_image %>
          <%= image_tag(@newest_image.thumbnail_url, :alt => @newest_image.description, :title => @newest_image.description) %> <%= link_to(raw(@newest_event.content), {:action => "show_news", :id => @newest_event, :format => "htm"}, {:class => "has_image"})%>
        <% else %>
          <% if @newest_event %>
            <h3><%= @newest_event.title %></h3>
            <%= link_to(raw(@newest_event.content), {:action => "show_news", :id => @newest_event, :format => "htm"}, {:class => "no_image"})%>
          <% end %>
        <% end %>
      </div>
      <div id="h4_bar">
        <ul>
          <li>公司新闻</li>
          <li>产品新闻</li>
        </ul>
      </div>
      <div id="border">
        <div class="other_list" id="block1">
          <ul>
            <% for news in @company_news %>
              <li><%= link_to news.title, :action => "show_news", :id => news, :format => "htm" %></li>
            <% end %>
            <li><%= link_to "更多公司新闻……", :action => "show_company_news" %></li>
          </ul>
        </div>
        <div class="other_list" id="block2">
          <ul>
            <% for news in @product_news %>
              <li><%= link_to news.title, :action => "show_news", :id => news, :format => "htm" %></li>
            <% end %>
            <li><%= link_to "更多产品新闻……", :action => "show_product_news" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" defer="defer">
  var _bar = document.getElementById("h4_bar");
  var _bar_children = _bar.childNodes;
  for(i=0;i<_bar_children.length;i++){
    if(_bar_children[i].nodeType != 3){//3是空，非3则是正常文本
      var _ul=_bar_children[i];
      break;//遇到第一个是正常文本的则取出之
    }
  }
  var _li_array = _ul.childNodes;

  var _div = document.getElementById("border");
  var _div_array = _div.childNodes;

  show_block(0);

  //点击切换显示标签
  function show_block(number){
    //	alert(navigator.appName);
    for(i=0;i<_div_array.length;i++){//所有的标签全写成链接形式
      if(navigator.appName.indexOf("Explorer") > -1){
        var _text = _li_array[i].innerText;
        _li_array[i].innerHTML = "<a onclick='show_block(" + i + ");' style='cursor:hand;'>" + _text + "</a>";
      }else{
        if(_div_array[i].nodeType != 3){
          var _text = _li_array[i].textContent;
          _li_array[i].innerHTML = "<a onclick='show_block(" + (i-1)/2 + ");return false;' href='#'>" + _text + "</a>";
        }
      }
    }
    if(navigator.appName.indexOf("Explorer") > -1){
      _li_array[number].innerHTML = _li_array[number].innerText;//第number个能找到的改为无链接形式
    }else{
      _li_array[number*2+1].innerHTML = _li_array[number*2+1].textContent;//不是IE的话，则是第2*number+1个能找到的改为无链接形式
    }
    for(i=0;i<_div_array.length;i++){//所有的内容全部隐藏
      if(typeof(_div_array[i].id) != "undefined"){//FF里有空白文字，但那些没有id
        document.getElementById(_div_array[i].id).style.display = "none";
      }
    }
    if(navigator.appName.indexOf("Explorer") > -1){
      _div_array[number].style.display = "block";//第number个能找到的改为显示
    }else{
      _div_array[2*number+1].style.display = "";//不是IE的话，则是第2*number+1个能找到的改为显示
    }
  }
</script>
