<div class="content_body">
  <div class="content_side">
    <div id="news" class="frame">
      <h2>新闻中心</h2>
      <ul>
        <li><%= link_to "新闻中心首页", :action => "news", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "公司新闻", :action => "show_company_news", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "产品新闻", :action => "show_product_news", :id => nil, :format =>"htm" %></li>
      </ul>
    </div>
  </div>
  <div class="total_text" id="single_news">
    <div id="content_text">
      <h3><%= @news.title %></h3>
      <% if @main_image %>
        <div id="main_image">
          <%= link_to(image_tag(@main_image.thumbnail_url, :alt => @main_image.description, :title => (@main_image.description.nil? ? "" : @main_image.description)+"，\n点击查看原始比例图片", :class => "newsimg"), @main_image.url, :popup => true) %>
        </div>
        <div id="newsdetail" class="has_image">
        <% else %>
          <div id="newsdetail" class="no_image">
          <% end %>
          <%= raw(@news.content) %>
        </div>
        <% if @other_images %>
          <div id="other_images">
            <% for image in @other_images %>
              <%= link_to(image_tag(image.thumbnail_url, :alt => image.description, :title => image.description+"，\n点击查看原始比例图片", :class => "newsimg"), image.url, :popup => true) %>
            <% end %>
          </div>
        <% end %>
        <% unless @news.serials.blank? %>
          <div id="h4_bar">
            <ul>
              <li>相关产品</li>
            </ul>
          </div>
          <div id="border">
            <div id="news_products" class="other_list">
              <h4>相关产品</h4>
              <ul>
                <% for serial in @news.serials %>
                  <li><%= link_to(serial.name, :action => "show_product", :id => serial.id, :format => "htm") %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>