<div class="content_body">
  <div class="content_side">
    <div id="solution" class="frame">
      <h2>解决方案</h2>
      <ul>
        <li><%= link_to "解决方案首页", :action => "solution", :id => nil, :format =>"htm" %></li>
        <li><span>激光器解决方案</span></li>
        <li><%= link_to "光通讯解决方案", :action => "show_communication_solution", :id => nil, :format =>"htm" %></li>
        <li><%= link_to "工业应用解决方案", :action => "show_industry_solution", :id => nil, :format =>"htm" %></li>
      </ul>
    </div>
  </div>
  <div class="total_text" id="not_product">
    <div class="content_text">
      <ul>
        <% for solution in @all_laser_solution %>
        <li><%= link_to solution.title, :action => "show_solution", :id => solution, :format => "htm" %></li>
        <% end %>
      </ul>
    </div>
	<%= will_paginate @all_laser_solution, {:previous_label => '<前页', :next_label => '后页>'} %>
  </div>
</div>
