<div class="content_body">
  <div class="content_side">
    <div id="product" class="frame">
      <h2>产品信息</h2>
      <div class="more"><a href="/site/prod_list"><img alt="更多" src="/images/site/more.jpg" /></a></div>
      <ul>
        <li><span><%= link_to "产品分类列表",:action => "prod_list" %></span></li>
        <% for big_type in @big_types %>
          <% count_in_big_types = Serial.where('prod_m_types.prod_b_type_id = ? and serials.is_in_site = 1', big_type).includes(:prod_m_type).size %>
          <% unless count_in_big_types == 0 %>
            <li><%= link_to big_type.name,:action => "show_b_type",:id => big_type, :format => "htm" %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div id="recent_prod" class="frame">
      <h2>最新产品</h2>
      <div class="more"><a href="/site/prod_list"><img alt="更多" src="/images/site/more.jpg" /></a></div>
      <ul>
        <% for serial in @recent_serials %>
          <li><%= link_to(raw(serial.name_txt), :action => "show_product", :id => serial, :format => "htm") %></li>
        <% end %>
      </ul>
    </div>
    <div id="solution" class="frame">
      <h2>解决方案</h2>
      <div class="more"><a href="/site/solution"><img alt="更多" src="/images/site/more.jpg" /></a></div>
      <ul>
        <% for solution in @recent_solutions %>
          <li><%= link_to(solution.title, :action => "show_solution", :id => solution, :format => "htm") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="total_text" id="product_info">
    <div id="content_text">
      <div id="h2_bar">
        <h2>产品分类</h2>
        <div id="h2_plus">当前位置：<%= link_to "产品分类列表", :action => "prod_list", :format => "htm" %> → <%= link_to @current_big_type.name,:action => "show_b_type", :id => @current_big_type, :format => "htm" %> → <%= link_to @current_mid_type.name,:action => "show_m_type", :id => @current_mid_type, :format => "htm" %>
          <% if @current_sml_type -%>
            → <%= link_to @current_sml_type.name, :action => "show_s_type", :id => @current_sml_type, :format => "htm" %>
          <% end %>
        </div>
      </div>
      <h3><%= raw(@serial.name_txt) %><% if @allow_edit %>[<%= link_to "编辑", {:controller => "serials", :start => @serial.id, :limit => 1}, :popup => true %>]<% end %></h3>
      <% if @main_image %>
        <div id="prod_img"><%= link_to(image_tag(@main_image.thumbnail_url, :alt => @main_image.description.to_s, :title => @main_image.description.to_s+"，\n点击查看原始比例图片"), {:action => "show_original_image", :id => @main_image}, {:popup => true}) %></div>
      <% end %>
      <% unless @serial.description.blank? %>
        <div id="prod_description"><%= raw @serial.description %></div>
      <% end %>
      <div id="h4_bar">
        <ul>
          <% unless @serial.feature.blank? %>
            <li>产品特点</li>
          <% end %>
          <% unless @serial.application_in_site.blank? %>
            <li>主要应用</li>
          <% end %>
          <% unless @serial.parameter_in_site.blank? %>
            <li>产品参数</li>
          <% end %>
          <% if @other_images %>
            <li>其它图片</li>
          <% end %>
          <% if false %>
            <li>售价</li>
          <% end %>
          <% if @involve_products && (@related_serials || @involve_products.size > 1) %>
            <li>相关产品</li>
          <% end %>
          <% if false %>
            <li>同系列</li>
          <% end %>
          <% if @serial.has_downloads? %>
            <li>相关下载</li>
          <% end %>
        </ul>
      </div>
      <div id="border">
        <% unless @serial.feature.blank? %>
          <div id="prod_feature" class="other_list">
            <h4>产品特点</h4>
            <%= raw @serial.feature %>
          </div>
        <% end %>
        <% unless @serial.application_in_site.blank? %>
          <div id="prod_application" class="other_list">
            <h4>主要应用</h4>
            <%= raw @serial.application_in_site %>
          </div>
        <% end %>
        <% unless @serial.parameter_in_site.blank? %>
          <div id="prod_parameter" class="other_list">
            <h4>产品参数</h4>
            <%= raw @serial.parameter_in_site %>
          </div>
        <% end %>
        <% if @other_images %>
          <div id="prod_other_img" class="other_list">
            <h4>其它图片</h4>
            <ul>
              <% for other_image in @other_images %>
                <li><%= link_to(image_tag(other_image.url, :alt => other_image.description, :title => other_image.description+"，\n点击查看原始比例图片"), {:action => "show_original_image", :id => other_image}, :popup => true) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if false %>
          <div id="prod_price" class="other_list">
            <h4>售价</h4>
            <p><%= @serial.price_in_site_with_unit %></p>
          </div>
        <% end %>
        <% if @involve_products && (@related_serials || @involve_products.size > 1) %>
          <div id="product_relationship" class="other_list">
            <h4>相关产品</h4>
            <ul>
              <% if @involve_products.size > 1 %>
                <% for involve_product in @involve_products %>
                  <li><%= involve_product.name_txt %></li>
                <% end %>
              <% end %>
              <% if @related_serials %>
                <% for related_serial in @related_serials %>
                  <li><%= link_to(related_serial.name, :action => "show_product", :id => related_serial) %></li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @serial_products %>
          <div id="prod_serial" class="other_list">
            <h4>同系列</h4>
            <ul>
              <% for serial_product in @serial_products %>
                <li><%= link_to(serial_product.model, :action => "show_product", :id => serial_product, :format => "htm") %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @serial.has_downloads? %>
          <div id="prod_download" class="other_list">
            <h4>相关下载</h4>
            <ul>
              <% for accessory in @serial.product_downloads.uniq %>
                <li> <%= accessory.description %>，大小<%= get_accessory_size(accessory.url) %>[<%= link_to("下载", :controller => "accessories", :action => "download_file", :id => accessory.id) %>] </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" defer="defer">
  var _bar = document.getElementById("h4_bar");
  var _bar_children = _bar.childNodes;
  for(i=0;i<_bar_children.length;i++){
    if(_bar_children[i].nodeType != 3){//3是空，非3则是正常文本
      var _ul=_bar_children[i];
      break;//遇到第一个是正常文本的则取出之
    }
  }
  _li_array = _ul.childNodes;

  _div = document.getElementById("border");
  _div_array = _div.childNodes;

  show_block(0);

  //点击切换显示标签
  function show_block(number){
    //	alert(navigator.appName);
    for(i=0;i<_div_array.length;i++){//所有的标签全写成链接形式
      if(navigator.appName.indexOf("Explorer") > -1){
        var _text = _li_array[i].innerText;
        _li_array[i].innerHTML = "<a onclick='show_block(" + i + ");' style='cursor:hand;'>" + _text + "</a>";
      }else{
        if(_div_array[i].nodeType != 3){
          var _text = _li_array[i].textContent;
          _li_array[i].innerHTML = "<a onclick='show_block(" + (i-1)/2 + ");return false;' href='#'>" + _text + "</a>";
        }
      }
    }
    if(navigator.appName.indexOf("Explorer") > -1){
      _li_array[number].innerHTML = _li_array[number].innerText;//第number个能找到的改为无链接形式
    }else{
      _li_array[number*2+1].innerHTML = _li_array[number*2+1].textContent;//不是IE的话，则是第2*number+1个能找到的改为无链接形式
    }
    for(i=0;i<_div_array.length;i++){//所有的内容全部隐藏
      if(typeof(_div_array[i].id) != "undefined"){//FF里有空白文字，但那些没有id
        document.getElementById(_div_array[i].id).style.display = "none";
      }
    }
    if(navigator.appName.indexOf("Explorer") > -1){
      _div_array[number].style.display = "block";//第number个能找到的改为显示
    }else{
      _div_array[2*number+1].style.display = "";//不是IE的话，则是第2*number+1个能找到的改为显示
    }
  }

  //表格斑马行效果
  var _div = document.getElementById("prod_parameter");
  if(!_div===null){
    var _table = _div.children[1];
    for(i=0;i<_table.rows.length;i++){
      if(i%2 == 0){
        _table.rows[i].className = "odd";
      }
    }
  }
</script>
