<div class="content_body">
  <div class="content_side">
    <div id="product" class="frame">
      <h2>产品信息</h2>
      <ul>
        <li><%= link_to "产品分类列表",:action => "prod_list", :id => nil, :format =>"htm" %></li>
        <% for big_type in @big_types %>
          <% count_in_big_types = Serial.where('prod_m_types.prod_b_type_id = ? and serials.is_in_site = 1', big_type).includes(:prod_m_type).size %>
          <% unless count_in_big_types == 0 %>
            <li><%= link_to big_type.name,:action => "show_b_type",:id => big_type, :format => "htm" %></li>
          <% end %>
        <% end %>
      </ul>
      <div id="recent_prod" class="frame">
        <h2>最新产品</h2>
        <div class="more"><a href="/site/prod_list"><img alt="更多" src="/images/site/more.jpg" /></a></div>
        <ul>
          <% for serial in @recent_serials %>
            <li><%= link_to(raw(serial.name_txt), :action => "show_product", :id => serial.id, :format => "htm") %></li>
          <% end %>
        </ul>
      </div>
      <div id="solution" class="frame">
        <h2>解决方案</h2>
        <div class="more"><a href="/site/solution"><img alt="更多" src="/images/site/more.jpg" /></a></div>
        <ul>
          <% for solution in @recent_solutions %>
            <li><%= link_to(solution.title, :action => "show_solution", :id => solution.id, :format => "htm") %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="total_text" id="product_info">
    <div class="prod_list" id="content_text">
      <div id="h2_bar">
        <h2>产品分类</h2>
        <div id="h2_plus">当前位置：<%= link_to "产品分类列表", :action => "prod_list" %> → <%= @current_big_type.name %>
        </div>
      </div>
      <h3><%= @current_big_type.name %></h3>
      <% for mid_type in @mid_types %>
        <ul class="class1">
          <% count_in_mid_types = Serial.where('(serials.prod_m_type_id = ? or prod_s_types.prod_m_type_id = ?) and serials.is_in_site = 1', mid_type, mid_type).includes(:prod_s_type).size %>
          <% unless count_in_mid_types == 0 %>
            <li><%= link_to mid_type.name + "(" + count_in_mid_types.to_s + ")", :action => "show_m_type", :id => mid_type, :format => "htm" %>
              <ul class = "class2">
                <% sml_types = ProdSType.where("prod_m_type_id = ?",mid_type) %>
                <% for sml_type in sml_types %>
                  <% count_in_sml_types = Serial.where('prod_s_type_id = ? and is_in_site = 1', sml_type).size %>
                  <% unless count_in_sml_types == 0 %>
                    <li><%= link_to sml_type.name + "(" + count_in_sml_types.to_s + ")", :action => "show_s_type", :id => sml_type, :format => "htm" %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
