<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>EIM MVC版(5.0)</title>

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag 'EIM' %>
  <%= stylesheet_link_tag 'ux/BoxSelect' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag 'patch' %>
  <%= javascript_include_tag 'extensible-1.5.2/src/locale/extensible-lang-zh_CN' %>
  <style type="text/css">
      .x-grid-table a {
          text-decoration: none;
      }
  </style>
  <%= csrf_meta_tags %>
</head>

<body>
<%= yield %>
</body>
</html>