<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>ETSC Technologies Co.</title>
<!-- (en) Add your meta data here -->
<!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->
    <%= stylesheet_link_tag 'yaml/core/base' %>
    <%= stylesheet_link_tag 'en_site/css/screen/basemod' %>
    <%= stylesheet_link_tag 'en_site/css/screen/basemod_site_module' %>
    <%= stylesheet_link_tag 'en_site/css/screen/content' %>

    <%= javascript_include_tag 'lib/jquery-1.4.2' %>

    <%= yield %>

    <!-- begin: #footer -->
    <div id="footer" role="contentinfo">Add: ETSC Technologies Co.<br />
9/F Building1,SBI,Dongxin Road,East Lake Hi-Tech DevelopmentZone,<br />
Wuhan, Hubei, 430074 China</div>
    <!-- end: #footer -->
  </div>
</div>
<!-- full skiplink functionality in webkit browsers -->
<script src="/stylesheets/yaml/core/js/yaml-focusfix.js" type="text/javascript"></script>
</body>
</html>
