<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag 'foundation' %>
  <%= stylesheet_link_tag 'patch' %>

  <%= javascript_include_tag 'vendor/modernizr' %>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>东隆科技</title>

  <meta content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more." name="description">
  <meta content="ZURB, inc. ZURB network also includes zurb.com" name="author">
  <meta content="ZURB, inc. Copyright (c) 2013" name="copyright">
  <!--
In order for any of these stylesheet and script references
to work as expected, they need to be ported to the correct
location and included with correspondent include tab
-->
<body>
<div class="ETSC-head">
  <div class="row" data-equalizer>
    <div class="large-12 medium-12 small-12 columns">
      <span class="show-for-medium-up"><img src="<%= asset_path("site/logo.jpg") %>" alt="ETSC" /></span>
      <span class="show-for-small-only"><img src="<%= asset_path("site/logo-pic.jpg") %>" alt="ETSC" /></span>
    </div>
    <div class="large-12 medium-12 small-12 columns text-right">
      <a href="#"><img src="<%= asset_path("silk_icon/flag_cn.png") %>" width="20px" alt="中文"><span class="show-for-medium-up head-small-txt"> 中文</span></a>
      <a href="#"><img src="<%= asset_path("silk_icon/flag_uk.png") %>" width="20px" alt="English"><span class="show-for-medium-up head-small-txt"> English</span></a>
    </div>
  </div>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"><h1>&nbsp;</h1></li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>导航</span></a></li>
    </ul>
    <section class="top-bar-section"> <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown"><a href="/site/about_us.html">关于我们</a>
          <ul class="dropdown">
            <li><a href="/site/about_us.html">公司简介</a></li>
            <li><a href="#">客户信息</a></li>
            <li><a href="#">合作伙伴</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">产品世界</a>
          <ul class="dropdown">
            <li><label>分类方法</label></li>
            <li class="has-dropdown"><a href="#">按产品类型</a>
              <ul class="dropdown">
                <li class="has-dropdown"><a href="#">光学器件及精密微动机械</a>
                  <ul class="dropdown">
                    <li><label>光学器件及精密微动机械</label></li>
                    <li class="has-dropdown"><a href="#">光学元件</a>
                      <ul class="dropdown">
                        <li><a href="#">第四级测试</a></li>
                        <li><a href="#">第四级测试1</a></li>
                      </ul>
                    </li>
                    <li><a href="#">微调架和微动平台</a></li>
                    <li><a href="#">半导体激光器</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">按产品应用</a>
              <ul class="dropdown">
                <li><a href="#">光无源器件性能测试</a></li>
                <li><a href="#">激光测试</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">技术支持</a>
          <ul class="dropdown">
            <li><a href="#">服务宗旨</a></li>
            <li><a href="#">校准维修</a></li>
            <li><a href="#">常见问题</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">解决方案</a>
          <ul class="dropdown">
            <li><a href="#">激光器解决方案</a></li>
            <li><a href="#">光通讯解决方案</a></li>
            <li><a href="#">工业应用解决方案</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">新闻资讯</a>
          <ul class="dropdown">
            <li><a href="#">公司新闻</a></li>
            <li><a href="#">产品新闻</a></li>
          </ul>
        </li>
        <!--<li><a href="#">招贤纳士</a></li>-->
        <li><a href="#">联系我们</a></li>
      </ul>
      <ul class="show-for-small-up">
        <li>
          <a href="#"><img style="CURSOR: pointer" onclick="javascript:window.open('http://wpa.qq.com/msgrd?v=3&uin=499269653&site=qq&menu=yes'+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" border="0" SRC="http://im.bizapp.qq.com:8000/zx_qq.gif">&nbsp;</a>
        </li>
      </ul>
    </section>
  </nav>
  <div class="row collapse ETSC-search-collapse">
    <div class="small-20 columns">
      <input type="text" placeholder="想搜什么产品">
    </div>
    <div class="small-4 columns">
      <a href="#" class="alert button postfix">搜</a>
    </div>
  </div>
</div>
<%= yield %>

<div class="row ETSC-footer">
  <div class="large-24 columns">
    <p>东隆科技版权所有©2008 鄂ICP备05008104号</p>
    <p>电话：86 27 87807177 86 10 88231478 86 755 83015356 邮箱： <a href="mailto:sales@etsc-tech.com">sales@etsc-tech.com</a></p>
  </div>
</div>

<%= javascript_include_tag 'jquery/jquery-2.1.1.min' %>
<%= javascript_include_tag 'foundation' %>
<%= javascript_include_tag 'foundation/foundation.orbit' %>

<!--<script src="js/foundation.min.js"></script>-->
<script>
    $(document).foundation();
</script>
</body>
</html>