<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag 'foundation' %>
  <%= stylesheet_link_tag 'patch' %>

  <%= javascript_include_tag 'vendor/modernizr' %>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>东隆科技</title>

  <meta content="Documentation and reference library for ZURB Foundation. JavaScript, CSS, components, grid and more." name="description">
  <meta content="ZURB, inc. ZURB network also includes zurb.com" name="author">
  <meta content="ZURB, inc. Copyright (c) 2013" name="copyright">
  <!--
In order for any of these stylesheet and script references
to work as expected, they need to be ported to the correct
location and included with correspondent include tab
-->
<body>


<div class="fixed">
  <div class="row" data-equalizer>
    <div class="large-6 medium-6 small-6 columns">
      <span class="show-for-medium-up"><img src="<%= asset_path("site/logo.jpg") %>" alt="ETSC" /></span>
      <span class="show-for-small-only"><img src="<%= asset_path("site/logo-pic.jpg") %>" alt="ETSC" /></span>
    </div>
    <div class="large-6 medium-6 small-6 columns text-right">
      <a href="#"><img src="<%= asset_path("silk_icon/flag_cn.png") %>" width="20px" alt="中文"><span class="show-for-medium-up head-small-txt"> 中文</span></a>
      <a href="#"><img src="<%= asset_path("silk_icon/flag_uk.png") %>" width="20px" alt="English"><span class="show-for-medium-up head-small-txt"> English</span></a>
    </div>
    <div class="large-6 medium-6 small-6 columns text-right">
      <span class="show-for-small-up head-big-txt">TEL: 027-87807177</span>
      <!--<span class="show-for-small-only head-small-txt">TEL: 027-87807177</span>-->
    </div>
  </div>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name"><h1>&nbsp;</h1></li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>导航</span></a></li>
    </ul>
    <section class="top-bar-section"> <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown"><a href="#">关于我们</a>
          <ul class="dropdown">
            <li><a href="#">公司简介</a></li>
            <li><a href="#">客户信息</a></li>
            <li><a href="#">合作伙伴</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">产品世界</a>
          <ul class="dropdown">
            <li><label>分类方法</label></li>
            <li class="has-dropdown"><a href="#">按产品类型</a>
              <ul class="dropdown">
                <li class="has-dropdown"><a href="#">光学器件及精密微动机械</a>
                  <ul class="dropdown">
                    <li><label>光学器件及精密微动机械</label></li>
                    <li class="has-dropdown"><a href="#">光学元件</a>
                      <ul class="dropdown">
                        <li><a href="#">第四级测试</a></li>
                        <li><a href="#">第四级测试1</a></li>
                      </ul>
                    </li>
                    <li><a href="#">微调架和微动平台</a></li>
                    <li><a href="#">半导体激光器</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#">按产品应用</a>
              <ul class="dropdown">
                <li><a href="#">光无源器件性能测试</a></li>
                <li><a href="#">激光测试</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">技术支持</a>
          <ul class="dropdown">
            <li><a href="#">服务宗旨</a></li>
            <li><a href="#">校准维修</a></li>
            <li><a href="#">常见问题</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">解决方案</a>
          <ul class="dropdown">
            <li><a href="#">激光器解决方案</a></li>
            <li><a href="#">光通讯解决方案</a></li>
            <li><a href="#">工业应用解决方案</a></li>
          </ul>
        </li>
        <li class="has-dropdown"><a href="#">新闻资讯</a>
          <ul class="dropdown">
            <li><a href="#">公司新闻</a></li>
            <li><a href="#">产品新闻</a></li>
          </ul>
        </li>
        <!--<li><a href="#">招贤纳士</a></li>-->
        <li><a href="#">联系我们</a></li>
      </ul>
      <ul class="show-for-small-up">
        <li>
          <a href="#"><img style="CURSOR: pointer" onclick="javascript:window.open('http://bizapp.qq.com/webc.htm?new=0&sid=499269653&eid=&o=www.etsc-tech.com&q=7&ref='+document.location, '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" border="0" SRC="http://im.bizapp.qq.com:8000/zx_qq.gif">&nbsp;</a>
        </li>
      </ul>
    </section>
  </nav>
  <div class="row">
    <div>
      <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="想搜什么产品">
        </div>
        <div class="small-2 columns">
          <a href="#" class="alert button postfix">搜</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= yield :layout %>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small"><a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a></section>
      <section class="middle tab-bar-section"><h1 class="title">Foundation</h1></section>
      <section class="right-small"><a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a></section>
    </nav>
    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li><a href="#">The Psychohistorians</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>
    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <li><a href="#">Hari Seldon</a></li>
        <li><a href="#">...</a></li>
      </ul>
    </aside>
    <section class="main-section">
      <p>2324</p>

      <p>2324</p>

      <p>2324</p>

      <p>2324</p><p>2324</p>
    </section>
    <a class="exit-off-canvas"></a></div>
</div>

<ul class="example-orbit-content" data-orbit id="featured1">
  <li data-orbit-slide="headline-1">
    <div><h2>二级标题</h2>

      <h3>小标题</h3></div>
  </li>
  <li data-orbit-slide="headline-2">
    <div><h2>Headline 2</h2>

      <h3>Subheadline</h3></div>
  </li>
  <li data-orbit-slide="headline-3">
    <div><h2>Headline 3</h2>

      <h3>Subheadline</h3></div>
  </li>
</ul>

<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to Foundation</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3>We&rsquo;re stoked you want to try Foundation! </h3>

      <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally
        destroy to get going.</p>

      <p>Once you've exhausted the fun in this document, you should check out:</p>

      <div class="row">
        <div class="large-4 medium-4 columns">
          <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br/>Everything you need to know
            about using the framework.</p>
        </div>
        <div class="large-4 medium-4 columns">
          <p><a href="http://github.com/zurb/foundation">Foundation on Github</a><br/>Latest code, issue reports,
            feature requests and more.</p>
        </div>
        <div class="large-4 medium-4 columns">
          <p><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br/>Ping us on Twitter if you have
            questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 medium-8 columns">
    <h5>Here&rsquo;s your basic grid:</h5>
    <!-- Grid Example -->

    <div class="row">
      <div class="large-12 columns">
        <div class="callout panel">
          <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.panel element so
            you can see where the columns are - it's not required at all for the grid.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 medium-6 columns">
        <div class="callout panel">
          <p>Six columns</p>
        </div>
      </div>
      <div class="large-6 medium-6 columns">
        <div class="callout panel">
          <p>Six columns</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
      <div class="large-4 medium-4 small-4 columns">
        <div class="callout panel">
          <p>Four columns</p>
        </div>
      </div>
    </div>

    <hr/>

    <h5>We bet you&rsquo;ll need a form somewhere:</h5>

    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-12.columns"/>
        </div>
      </div>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns"/>
        </div>
        <div class="large-4 medium-4 columns">
          <label>Input Label</label>
          <input type="text" placeholder="large-4.columns"/>
        </div>
        <div class="large-4 medium-4 columns">
          <div class="row collapse">
            <label>Input Label</label>

            <div class="small-9 columns">
              <input type="text" placeholder="small-9.columns"/>
            </div>
            <div class="small-3 columns">
              <span class="postfix">.com</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Select Box</label>
          <select>
            <option value="husker">Husker</option>
            <option value="starbuck">Starbuck</option>
            <option value="hotdog">Hot Dog</option>
            <option value="apollo">Apollo</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="large-6 medium-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
        </div>
        <div class="large-6 medium-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Textarea Label</label>
          <textarea placeholder="small-12.columns"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="large-4 medium-4 columns">
    <h5>Try one of these buttons:</h5>

    <p><a href="#" class="small button">Simple Button</a><br/>
      <a href="#" class="small radius button">Radius Button</a><br/>
      <a href="#" class="small round button">Round Button</a><br/>
      <a href="#" class="medium success button">Success Btn</a><br/>
      <a href="#" class="medium alert button">Alert Btn</a><br/>
      <a href="#" class="medium secondary button">Secondary Btn</a></p>

    <div class="panel">
      <h5>So many components, girl!</h5>

      <p>A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on
        making them your own.</p>
      <a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>
    </div>
  </div>
</div>

<%= javascript_include_tag 'jquery/jquery-2.1.1.min' %>
<%= javascript_include_tag 'foundation' %>

<!--<script src="js/foundation.min.js"></script>-->
<script>
    $(document).foundation();

    $("#featured1").on("ready.fndtn.orbit", function(event) {
        console.log("ready");
    });
    $("#featured1").on("orbit:before-slide-change", function(event) {
        console.info("before slide change");
    });
    $("#featured1").on("orbit:after-slide-change", function(event, orbit) {
        console.info("after slide change");
        console.info("slide " + orbit.slide_number + " of " + orbit.total_slides);
    });
    $("#featured1").on("orbit:timer-started", function(event, orbit) {
        console.info("timer started");
    });
    $("#featured1").on("orbit:timer-stopped", function(event, orbit) {
        console.info("timer stopped");
    });

</script>
</body>
</html>